.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 900px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

.contacts {
    flex-grow: 1;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 400;
}