.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    color: white;
    background-color: #0a66c2;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus {
        background-color: rgb(96, 199, 165);
    }

    &:disabled {
        background-color: rgb(208, 208, 208);
    }
}